
//Variables

//Fuentes

/*$fuente-principal: "Bungee Outline", sans-serif;*/
$fuente-secundaria: "Tilt Neon", sans-serif;
$fuente-principal: "Tilt Neon", sans-serif;

$color-principal:#0a2446;
$color-secundario: #305aa0;
$negro: #000000;
$blanco:#FFFFFF;
$gris:#7a7672;
$marfil: #FFFFF0;
$violeta: #5E17EB;